body{
    margin: 0;
    font-family: "Inter", sans-serif;
}

#pokemon-container{
    display:ruby;
}

.d-none{
    display: none !important;
}

.loading-spinner{
    height: 280px;

}

.rotate{
    animation: spinner 1.5s linear infinite; 
  }
  @keyframes spinner {
    to { transform: rotate(360deg); }
  }

.dialog-bg{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.dialog-bg span{
    font-weight: 800;
    width: 150px;
    text-align: center;
    border-radius: 16px;
    background-color: #ffce31;
}

#evolution-area{
    z-index: 110;
    width: 80%;
    height: 80%;
    background-color: #ffce31;
    border-radius: 16px;
    border: solid #31319a;
    display: ruby;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: #f0544f;
    padding: 20px 10px 20px 40px;
}


section{
    display: flex;
    flex-direction: column;
}

.pokemon-image{
    height: 180px;
}
.pokemon-image:hover{
transform: scale(1.1);
cursor: pointer;
}

.pokemon-card{
    border: solid, 16px, #d5ba35;
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 16px 8px 8px 8px;
    margin: 24px;
}

.caught-image{
    height: 40px;
}

.caught-image:hover{
    cursor: pointer;
}


.grey{
filter: grayscale(1);
}


.header-for-card{
    width: 300px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.header-for-card h2 {
    margin-bottom: 0;
    margin-top: 0;
}


.pokemon-image-container{
    border: solid, #d5ba35;
    width: 300px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}


.close-chain{
    width: 200px;
    background-color: #f0544f;
    box-shadow: 5px 3px #888888;
    border-radius: 8px;
    text-align: center;
}

.close-chain:hover{
    cursor: pointer;
    filter: brightness(1.2);  
}

.catch-area{
    display: flex;
    position: relative;
    bottom: 0px;
    align-items: center;
    width:100%;
    justify-content: flex-end;
}

.types-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 12px 12px 29px #555;;
}

.weight-height{
    margin-top: 16px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: #38393d solid 1px;
}

.evolution-chain{
    width: 290px;
    background-color: #f0544f;
    box-shadow: 5px 3px #888888;
    border-radius: 8px;
}

.evolution-chain:hover{
    cursor: pointer;
    filter: brightness(1.2);
}

.type-pic{
    height: 40px;
}
.weight-height span{
    font-weight: bold;
    }

.card-ability-area{
    margin-top: 16px;
    margin-bottom: 16px;
    height: 80px;
    width: 100%;
    text-align: left;
    

}
.card-ability-area span{
    margin: 0;
}
.card-ability-area p{
    margin: 0;
}

.card-bottom-area{
    display:flex;
    align-items: center;

}

#showMyPokemon{
    background-color:#f0544f;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    margin: 16px;
    box-shadow: 5px 3px #888888;
}

#showMyPokemon:hover{
    cursor: pointer;
    filter: brightness(1.2);
}

#showAll{
    background-color:#f0544f;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    margin: 16px;
    box-shadow: 5px 3px #888888;
}

#showAll:hover{
    cursor: pointer;
    filter: brightness(1.2);
}


.filter-section{
    padding-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-section button{
    margin-left: 8px;
    background-color:#f0544f;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 3px #888888;
}

.filter-section button:hover{
    cursor: pointer;
    filter: brightness(1.2);
}



.load-more-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more-area button{
    margin: 24px;
    background-color: #f0544f;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 3px #888888;
}

.load-more-area button:hover{
    cursor: pointer;
    filter: brightness(1.2);
}

.image-background-grass{
    background-image: url("./img/grass-texture.jpg");

}

.image-background-fire{
    background-image: url("./img/fire-texture.jpg");

}

.image-background-water{
    background-image: url("./img/water-texture.jpg");

}

.image-background-bug{
    background-image: url("./img/bug-texture.jpg");

}

.image-background-normal{
    background-image: url("./img/normal-texture.jpg");

}

.image-background-poison{
    background-image: url("./img/poison-texture.jpg");

}

.image-background-electric{
    background-image: url("./img/electric-texture.jpg");

}

.image-background-fairy{
    background-image: url("./img/fairy-texture.jpg");

}

.image-background-ground{
    background-image: url("./img/ground-texture.jpg");

}

.image-background-ground{
    background-image: url("./img/ground-texture.jpg");

}

.image-background-fighting{
    background-image: url("./img/fighting-texture.jpg");

}

.image-background-psychic{
    background-image: url("./img/psychic-texture.png");

}

.image-background-rock{
    background-image: url("./img/rock-texture.jpg");

}

.image-background-ghost{
    background-image: url("./img/ghost-texture.jpg");

}

.image-background-ice{
    background-image: url("./img/ice-texture.jpg");

}

.image-background-dragon{
    background-image: url("./img/dragon-texture.jpg");

}

.image-background-dark{
    background-image: url("./img/dark-texture.jpg");

}

.image-background-steel{
    background-image: url("./img/steel-texture.jpg");

}

.image-background-flying{
    background-image: url("./img/flying-texture.jpg");

}


.card-background-grass{
    background-color: #5dc655;
}

.card-background-fire{
    background-color: #e02723;

}

.card-background-water{
    background-color: #2382e0;

}

.card-background-bug{
    background-color: #485e36;

}

.card-background-normal{
    background-color: #f0f2ba;

}

.card-background-poison{
    background-color: #4e37ce;

}

.card-background-electric{
    background-color: #f9f45c;

}

.card-background-fairy{
    background-color: #f4b0e9 ;

}

.card-background-ground{
    background-color: #826c48;

}

.card-background-fighting{
    background-color: #ff8000;

}

.card-background-psychic{
    background-color: #f95cf2;

}

.card-background-rock{
    background-color: #98a09e;

}

.card-background-ghost{
    background-color: #38393d;

}

.card-background-ice{
    background-color: #a2e4f2;

}

.card-background-dragon{
    background-color: #a0198e;

}

.card-background-dark{
    background-color: #7d4b8c;

}

.card-background-steel{
    background-color: #e2e2e2;

}

.card-background-flying{
    background-color: #4bbfed;

}