body{
    margin: 0;
    font-family: "Inter", sans-serif;
}

#pokemon-container{
    display:ruby;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: #f0544f;
    padding: 20px 10px 20px 40px;
}


section{
    display: flex;
    flex-direction: column;
}

.pokemon-image{
    height: 180px;
}
.pokemon-image:hover{
transform: scale(1.1);
cursor: pointer;
}

.pokemon-card{
    border: solid, 16px, #d5ba35;
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 16px 8px 8px 8px;
    margin: 24px;
}

.caught-image{
    height: 40px;
}

.caught-image:hover{
    cursor: pointer;
}
.grey{
filter: grayscale(1);

}

    .header-for-card{
    width: 300px;
       padding-left: 80px;
       padding-right: 80px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        
    }



.pokemon-image-container{
    border: solid, #d5ba35;
    width: 300px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.image-background-grass{
    background-image: url("./img/grass-texture.jpg");

}

.image-background-fire{
    background-image: url("./img/fire-texture.jpg");

}

.image-background-water{
    background-image: url("./img/water-texture.jpg");

}

.image-background-bug{
    background-image: url("./img/bug-texture.jpg");

}

.image-background-normal{
    background-image: url("./img/normal-texture.jpg");

}

.image-background-poison{
    background-image: url("./img/poison-texture.jpg");

}

.image-background-electric{
    background-image: url("./img/electric-texture.jpg");

}

.image-background-fairy{
    background-image: url("./img/fairy-texture.jpg");

}

.image-background-ground{
    background-image: url("./img/ground-texture.jpg");

}

.image-background-ground{
    background-image: url("./img/ground-texture.jpg");

}

.image-background-fighting{
    background-image: url("./img/fighting-texture.jpg");

}

.image-background-psychic{
    background-image: url("./img/psychic-texture.png");

}

.image-background-rock{
    background-image: url("./img/rock-texture.jpg");

}

.image-background-ghost{
    background-image: url("./img/ghost-texture.jpg");

}

.image-background-ice{
    background-image: url("./img/ice-texture.jpg");

}

.image-background-dragon{
    background-image: url("./img/dragon-texture.jpg");

}

.image-background-dark{
    background-image: url("./img/dark-texture.jpg");

}

.image-background-steel{
    background-image: url("./img/steel-texture.jpg");

}

.image-background-flying{
    background-image: url("./img/flying-texture.jpg");

}


.card-background-grass{
    background-color: #5dc655;
}

.card-background-fire{
    background-color: #e02723;

}

.card-background-water{
    background-color: #2382e0;

}

.card-background-bug{
    background-color: #485e36;

}

.card-background-normal{
    background-color: #f0f2ba;

}

.card-background-poison{
    background-color: #4e37ce;

}

.card-background-electric{
    background-color: #f9f45c;

}

.card-background-fairy{
    background-color: #f4b0e9 ;

}

.card-background-ground{
    background-color: #826c48;

}

.card-background-fighting{
    background-color: #ff8000;

}

.card-background-psychic{
    background-color: #f95cf2;

}

.card-background-rock{
    background-color: #98a09e;

}

.card-background-ghost{
    background-color: #38393d;

}

.card-background-ice{
    background-color: #a2e4f2;

}

.card-background-dragon{
    background-color: #a0198e;

}

.card-background-dark{
    background-color: #7d4b8c;

}

.card-background-steel{
    background-color: #e2e2e2;

}

.card-background-flying{
    background-color: #4bbfed;

}